spring:
  application:
    name: gateway
  cloud:
    config:
      enabled: false
    gateway:
      routes:
        - id: health
          uri: http://localhost:8080
          predicates:
            - Path=/api/health
        - id: authservice
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0
        - id: authservice-swagger
          uri: http://localhost:8081
          predicates:
            - Path=/authservice/v3/api-docs
          filters:
            - RewritePath=/authservice/v3/api-docs, /v3/api-docs
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      # Swagger 경로는 Gateway 라우팅에서 제외
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    disable-swagger-default-url: true
    urls:
      - url: /v3/api-docs
        name: API Gateway
      - url: /authservice/v3/api-docs
        name: Auth Service
    urls-primary-name: API Gateway
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
